<% provide(:title, "Edit user") %>


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">


    <%= form_for(@profile) do |f| %>
        <div class="form-title">Update your profile</div>


      <form>
        <label>
        <%= f.text_field:education, class: 'form-control' %>
        </label>
        <div class="label-text" > Education </div>


        <label>
        <%= f.text_field :expertise, class: 'form-control' %>
        </label>
        <div class="label-text" > Areas of expertise </div>


        <label>
        <%= f.text_field :interests, class: 'form-control'%></label>
        <div class="label-text" > Research interests </div>


        <label>
        <%= f.text_field :skills, class: 'form-control' %>
        </label>
        <div class="label-text" > Skills </div>




        <%= f.submit "Save changes", class: "custom-btn" %>
      </form>
    <% end %>

  </div>
</div>