<% provide(:title, "Edit user") %>


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">


    <%= form_for(@profile) do |f| %>
        <div class="form-title"> Basic information</div>

        <div class="form-errors">
          <%= @profile.errors.full_messages.first if @profile.errors.any? %>
        </div>

      <form>
        <label>
        <%= f.text_field :education, class: 'form-control' %>
        </label>
        <div class="label-text" > Education </div>


        <label>
        <%= f.text_field :expertise, class: 'form-control' %>
        </label>
        <div class="label-text" > Areas of expertise </div>


        <label>
        <%= f.text_field :interests, class: 'form-control'%></label>
        <div class="label-text" > Research interests </div>


        <label>
        <%= f.text_field :skills, class: 'form-control' %>
        </label>
        <div class="label-text" > Skills </div>

        <p> </p>

        <div class="form-title"> Career interests </div>


          <label>
            <%= f.text_field :industry, class: 'form-control' %>
          </label>
          <div class="label-text" > Industry </div>


          <label>
            <%= f.text_field :company_size, class: 'form-control' %>
          </label>
          <div class="label-text" > Company size </div>


          <label>
            <%= f.text_field :company_age, class: 'form-control'%></label>
          <div class="label-text" > Company age </div>


          <label>
            <%= f.text_field :salary, class: 'form-control' %>
          </label>
          <div class="label-text" > Salary </div>

        <p></p>

        <div class="form-title"> Open questions </div>

        <label>
          <%= f.text_area :o1, class: 'form-control', rows: '3', placeholder: 'What industries do you think will experience most growth in the next 10 years ? Why ?' %>
        </label>

        <label>
          <%= f.text_area :o2, class: 'form-control', placeholder: 'What promising industries do you think are significantly underrated ? Why ?' %>
        </label>

        <label>
          <%= f.text_area :o3, class: 'form-control', placeholder: 'If you had to pick another major, what would it be ?' %>
        </label>

        <label>
          <%= f.text_area :o4, class: 'form-control', rows: '3', placeholder: 'Are you working on any side project ? If so, would you want Pentalist to suggest you people to work with ?' %>
        </label>



        <%= f.submit "Save", class: "custom-btn" %>
      </form>
    <% end %>

  </div>
</div>