<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">



    <%=bootstrap_form_for(:post,:url => { :action => :create, :controller=> :posts }) do |f|  %>


        <%= f.text_field :title, hide_label: true, :readonly => @var, onclick:"var x = document.getElementsByClassName('form-group')[0];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                         placeholder:"First Name", value: nil%>

        <%= f.text_area :text, rows: '5',  hide_label: true, :readonly => @var,
                        onclick:"var x = document.getElementsByClassName('form-group')[3];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                        placeholder:"Phrases to describe", class: 'form-control' %>


        <%= f.submit "Post", :disabled => @var, class: "btn btn-primary" %>
    <% end %>

    <h3>Weekly Digest</h3>

    <% if @list_of_posts.length == 0 %>
        No posts to show you this week.
    <% end %>

    <% @list_of_posts.each do |post| %>
      <div class="well"><article>
        <h4><%= post.title %></h4>
        <%= mail_to User.find(post.user_id).email, User.find(post.user_id).email %>

        <p><%= post.text %></p>
      </article></div>
    <% end %>

        <!--

        <div class="well"><article>
          <h3>Biominerals</h3>
          <p>&lt;john@appleseed.com&gt;</p>
          <p>Looking for people with expertise. Photonic crystals, Self-assembly. Seed-stage.    </p>
        </article></div>




        %= f.error_summary % % -->





  </div>
</div>