<% provide(:title, 'New Referral') %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">




    <%=form_for(@friend) do |f|  %>

        <div class="form-errors">
          <%= @friend.errors.full_messages.first if @friend.errors.any? %>
        </div>


        <form>

          <div class="form-title">
            Add to cluster
          </div>

         <div class="referrals-left">
           ( <%= @left %> left )
         </div>


        <label>
        <%= f.text_field :first_name, hide_label: true,
                         onclick:"var x = document.getElementsByClassName('form-group')[0];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();" %>
          </label>
          <div class="label-text" > First Name </div>

        <label>
        <%= f.text_field :last_name, hide_label: true,
                         onclick:"var x = document.getElementsByClassName('form-group')[1];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                          class: 'form-control' %>
        </label>
          <div class="label-text" > Last Name </div>

          <label>
        <%= f.email_field :email, size:'36', hide_label: true,
                          onclick:"var x = document.getElementsByClassName('form-group')[2];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                           value: nil%>
          </label>
          <div class="label-text" > Email </div>
          <div id="explanation">

            Don't know the university email? Check  <a href=<%= @here %> target="_blank">here.</a>

          </div>

        <label>
        <%= f.text_area :description, rows: '3', cols:'35', hide_label: true, :class => "textarea",
                        onclick:"var x = document.getElementsByClassName('form-group')[3];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                        placeholder:"Tell us more about this person, what she or he does, what major, what qualities made you choose this person.", class: 'form-control' %>
        </label>
          <div class="label-text"> Review </div>




        <%= f.submit "Add", class: "custom-btn" %>



        </form>

    <% end %>

  </div>
</div>