<% provide(:title, 'New Referral') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">


    <%=bootstrap_form_for(:friend, url:friends_path, layout: :inline) do |f|  %>

        <% @referral.errors.each do |attribute, message| %>
            <div class="alert alert-danger"> <%= message %></div>
        <% end %>

        <h4>Recommend Friend <h6>( <%= @left %> referrals left ) </h6></h4>

        <%= f.email_field :email, size:'36', hide_label: true, onclick:"var x = document.getElementsByClassName('form-group')[0];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                         placeholder:"Name, Email", value: nil%>

        <%= f.text_area :description, rows: '10', cols:'35', hide_label: true,
                        onclick:"var x = document.getElementsByClassName('form-group')[3];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                        placeholder:"Phrases to describe", class: 'form-control' %>

        <%= f.submit "Submit relationship", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>