<% provide(:title, 'New Prospect') %>


<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

    <h4>Recommendations left: <%= @database_size %> </h4>
    <h4>Recommend Prospect</h4>
    <%= bootstrap_form_for(@prospect, label_errors: false) do |f| %>

        <!-- %= f.error_summary % % -->

        <%= f.email_field :email, onclick:"var x = document.getElementsByClassName('form-group')[0];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                          hide_label: true, placeholder:"Email" %>


        <%= f.text_area :description, rows: '10', disabled: true,  hide_label: true,
                             onclick:"var x = document.getElementsByClassName('form-group')[1];
        x.className = 'form-group'; x.getElementsByClassName('help-block')[0].remove();",
                             placeholder:"Description" %>

        <%= f.submit "Submit prospect", disabled: true, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>