<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="We want to change the way you get hired.">


  <![endif]-->
</head>

  <body>

  <div class="navbar">


    <div id="logo">
      <h1> pentalist </h1>

    </div>

    <div class="container" id="header"">

    <% if logged_in? %>


        <% if !submitted? %>
            <%= link_to "Apply", new_submit_path %>
            <%= link_to "Profile", edit_profile_path(current_user), style:'padding-left:20px' %>
            <%= link_to "Cluster", new_friend_path, style:'padding-left:20px' %>
        <% end %>
    <% else %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log in", login_path, style:'padding-left:20px'%>
    <% end %>
    <hr>

  </div>
  </div>

  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div id="yield">
    <%= yield %>
  </div>

  <div class="container" id="footer" >
    <hr>
    <%= link_to "About",about_path %>
    <% if logged_in? %>
        <%= link_to "Log out", logout_path, style:'padding-left:20px;', method: :delete %>

        <% if !submitted? %>
            <%= link_to "Settings", edit_user_path(current_user),
                        style:'padding-left:20px;
              ' %>
        <% end %>
    <% else %>
        <footer>
          <small>© Copyright 2016,  Pentalist LLC </small>
        </footer>
    <% end %>

  </div>

  </body>


</html>