<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <![endif]-->
</head>
<body>

  <div class="container" id="wrapper"">
     <%= link_to "Job listings", logout_path, method: :delete %>
    | <%= link_to "Settings", edit_user_path(current_user) %>
    | <%= link_to "Log out", logout_path, method: :delete %>
  <h1> pentalist </h1>
  </div>
  <div class="container" id="wrapper"">
    <p></p>
    <% if logged_in? %>
       <%= link_to "Technical", feeds_path %>
      | <%= link_to "Behavioral", edit_profile_path(current_user) %>
      | <%= link_to "Profile", new_friend_path %>
      | <%= link_to "Your network", edit_user_path(current_user) %>
      | <%= link_to "News", logout_path, method: :delete %>
    <% else %>
       <%= link_to "Sign Up", signup_path %>
      | <%= link_to "Log in", login_path %>
    <% end %>
    <hr>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

  </div>
  <%= yield %>
  <!-- %= debug(params) if Rails.env.development? % -->
  <hr>

    <div class="container footer" id="footer" >
      <%= link_to "About",   about_path %>
      | <%= mail_to 'query@pentalist.org', 'Contact' %>
    </div>

    <footer>
      <small>© Copyright 2016, Pentalist LLC</small>
    </footer>


</body>
</html>