<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>

  <div class="container" id="wrapper"">
  <h1> pentalist </h1>
  </div>
  <div class="container" id="wrapper"">

    <% if logged_in? %>
      <%= link_to "Search", search_path %>
      | <%= link_to "Profile", edit_profile_path(current_user) %>
      | <%= link_to "Your list", new_friend_path %>
      | <%= link_to "Settings", edit_user_path(current_user) %>
      | <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
       <%= link_to "Sign Up", signup_path %>
      | <%= link_to "Log in", login_path %>
    <% end %>
    <hr>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

  </div>
  <%= yield %>
  <!-- %= debug(params) if Rails.env.development? % -->
  <hr>

    <div class="container footer" id="footer" >
      <%= link_to "How to",   root_path %>
      | <%= link_to "About",   about_path %>
      | <%= link_to "Contact",   contact_path %>
    </div>

    <footer>
      <small>© Copyright 2016, Senio Technologies</small>
    </footer>


</body>
</html>